{% extends "base.html" %}

{% block title %} 42-test-oleksandr11 {% endblock title %}
{% block extra_head %}

<style type="text/css">
.multiline{
  width: 200px;
  background: #ccc;
  padding: 5px;
  padding-right: 20px;
  border: solid 1px black;
}
</style>
{% endblock extra_head %}

{% block content %}
<h3>42 Coffee Cups Test Assigment</h3>
<table>
  <tr>
    <td>{{ my_data.first_name }}</td>
    <td>Contacts</td>
  </tr>
  <tr>
    <td>{{ my_data.second_name }}</td>
    <td>{{ my_data.email }}</td>
  </tr>
  <tr>
    <td>07/11/1986</td>
    <td>{{ my_data.jabber }}<br>{{ me_data.skype }}</td>
  </tr>
  <tr>
    <td>Bio:</td>
    <td>Other Contacts</td>
  </tr>
  <tr>
    <td class ="multiline">{{ my_data.biography }}</td>
    <td class ="multiline">{{ my_data.other_contacts }}</td>
  </tr>
</table>
{% endblock content %}
